*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(129, 146, 146);
}
.main-content{
    background-color: blue;
    margin: 20px auto;
    width: 90vw;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 300px 700px;
}
.left-section{
    grid-column: 1/span 1;
    background-color: rgb(34, 32, 32);
}
.left-content{
    padding: 1rem;
    color: cornsilk;
}
.profile-image{
    width: 60%;
    display: block;
    margin: 10px auto;
    border: 5px white solid;
    border-radius: 30%;
    /* align-items: center; */
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.right-section{
    background-color: rgb(241, 241, 237);
    grid-column: 2/span 1;
    width: 90%;
}